<!doctype html><html><head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="dito-asset://cssuuid">
  <style data-dito-internal-style="font-resource" data-dito-font-resource-uri="dito-asset://fontuuid">
  @font-face {
    font-family: lato2ofl;
    font-style: normal;
    font-weight: 400;
    src: url(dito-asset://fontnormaluuid);
}
@font-face {
    font-family: lato2ofl;
    font-style: italic;
    font-weight: 700;
    src: url(dito-asset://fontitalicuuid);
}</style></head>

<body data-dito-element="subform"><div style="font-family:Lato2OFL" data-dito-element="rich-text"><div>Text</div></div><img data-dito-element="image" src="dito-asset://imageuuid"></body></html>